{
  "presets": [
    [
      "@babel/env",
      {
        "exclude": ["transform-regenerator"],
        "loose": true,
        "modules": "commonjs",
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/transform-arrow-functions",
    "@babel/proposal-class-properties",
    ["module:fast-async", { "useRuntimeModule": true }],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "config": "./config",
          "dbAuth": "./dbAuth",
          "sessionAdapters": "./sessionAdapters"
        }
      }
    ]
  ]
}
